RewriteEngine on
RewriteBase /specified
RewriteRule ^profile/([a-z0-9]+)$ viewer.php?file=files/$1.json [QSA]
RewriteRule ^gesp-mode/([a-z0-9]+)$ gesp-mode.php?file=files/$1.json [QSA]
RewriteRule ^(profile|gesp-mode)/(static|assets|files)/(.*) $2/$3 [R=temp,L]
RewriteRule ^(profile|gesp-mode)/(.*).(php|html)$ $2.$3 [R=permanent,L]
RewriteRule ^download$ https://github.com/Spec-ify/specify/releases/latest/download/Specify.exe [R=permanent,L]
RewriteRule ^(archive)$ $1.php
RewriteRule ^rudimentary.php$ "-" [F]
