[data-theme='classic-mode'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 2px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-900);
	--color-primary-50: oklch(91.93% 0.04 256.59deg);
	--color-primary-100: oklch(87.83% 0.05 241.12deg);
	--color-primary-200: oklch(83.85% 0.06 232.58deg);
	--color-primary-300: oklch(79.94% 0.08 227.77deg);
	--color-primary-400: oklch(76.14% 0.09 224.35deg);
	--color-primary-500: oklch(72.43% 0.1 222.04deg);
	--color-primary-600: oklch(64.19% 0.09 227.14deg);
	--color-primary-700: oklch(55.68% 0.09 232.75deg);
	--color-primary-800: oklch(46.86% 0.08 240.08deg);
	--color-primary-900: oklch(37.64% 0.08 248.21deg);
	--color-primary-950: oklch(27.98% 0.08 257.07deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(89.89% 0.09 130.79deg);
	--color-secondary-100: oklch(89.34% 0.12 136.88deg);
	--color-secondary-200: oklch(89.02% 0.14 139.87deg);
	--color-secondary-300: oklch(89.05% 0.17 141.83deg);
	--color-secondary-400: oklch(89.06% 0.2 142.79deg);
	--color-secondary-500: oklch(89.19% 0.22 143.45deg);
	--color-secondary-600: oklch(77.72% 0.2 143.4deg);
	--color-secondary-700: oklch(65.82% 0.17 143.32deg);
	--color-secondary-800: oklch(53.69% 0.14 143.23deg);
	--color-secondary-900: oklch(40.51% 0.12 143.04deg);
	--color-secondary-950: oklch(26.1% 0.09 142.5deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(77.44% 0.1 13.37deg);
	--color-tertiary-100: oklch(74.15% 0.12 16.63deg);
	--color-tertiary-200: oklch(70.93% 0.15 18.86deg);
	--color-tertiary-300: oklch(68.29% 0.17 21.32deg);
	--color-tertiary-400: oklch(65.73% 0.19 23.25deg);
	--color-tertiary-500: oklch(63.69% 0.21 25.33deg);
	--color-tertiary-600: oklch(58.26% 0.2 25.8deg);
	--color-tertiary-700: oklch(52.94% 0.19 26.39deg);
	--color-tertiary-800: oklch(47.32% 0.17 27.17deg);
	--color-tertiary-900: oklch(41.95% 0.16 27.98deg);
	--color-tertiary-950: oklch(36.3% 0.15 28.98deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(85.49% 0.09 84.08deg);
	--color-success-100: oklch(84.05% 0.1 85.26deg);
	--color-success-200: oklch(82.65% 0.11 86.01deg);
	--color-success-300: oklch(81.36% 0.13 86.07deg);
	--color-success-400: oklch(80.01% 0.13 86.15deg);
	--color-success-500: oklch(78.69% 0.14 85.9deg);
	--color-success-600: oklch(71.93% 0.13 86.95deg);
	--color-success-700: oklch(64.8% 0.12 87.3deg);
	--color-success-800: oklch(57.8% 0.11 88deg);
	--color-success-900: oklch(50.25% 0.1 88.44deg);
	--color-success-950: oklch(42.63% 0.09 90.43deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.79% 0.05 88.07deg);
	--color-warning-100: oklch(92.94% 0.07 85.27deg);
	--color-warning-200: oklch(90.05% 0.09 81.8deg);
	--color-warning-300: oklch(87.31% 0.11 80.89deg);
	--color-warning-400: oklch(84.57% 0.13 78.29deg);
	--color-warning-500: oklch(82.02% 0.14 76.71deg);
	--color-warning-600: oklch(76.11% 0.14 72.37deg);
	--color-warning-700: oklch(70.14% 0.13 67.8deg);
	--color-warning-800: oklch(64% 0.13 62.98deg);
	--color-warning-900: oklch(57.93% 0.13 57.46deg);
	--color-warning-950: oklch(51.87% 0.13 51.28deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.6% 0.08 19.82deg);
	--color-error-200: oklch(77.52% 0.11 21.99deg);
	--color-error-300: oklch(72.26% 0.15 24.9deg);
	--color-error-400: oklch(67.55% 0.19 26.72deg);
	--color-error-500: oklch(64.06% 0.22 28.71deg);
	--color-error-600: oklch(59.71% 0.21 28.7deg);
	--color-error-700: oklch(55.17% 0.2 28.73deg);
	--color-error-800: oklch(50.88% 0.19 28.77deg);
	--color-error-900: oklch(46.35% 0.18 28.89deg);
	--color-error-950: oklch(42.03% 0.17 29.27deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(99.11% 0 none);
	--color-surface-100: oklch(89.67% 0.01 238.47deg);
	--color-surface-200: oklch(80.01% 0.02 238.72deg);
	--color-surface-300: oklch(70.31% 0.03 235.84deg);
	--color-surface-400: oklch(60.13% 0.04 237.17deg);
	--color-surface-500: oklch(49.65% 0.06 238.6deg);
	--color-surface-600: oklch(44.48% 0.05 237.06deg);
	--color-surface-700: oklch(38.98% 0.04 238.75deg);
	--color-surface-800: oklch(33.48% 0.03 236.08deg);
	--color-surface-900: oklch(27.58% 0.02 240.57deg);
	--color-surface-950: oklch(21.6% 0 228.92deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}