// Created with https://themes.skeleton.dev/themes/create
:root,
:root[data-theme='classic-mode'] {
	/* --text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(85.15% 0.07 137.52deg);
	--color-primary-100: oklch(83.56% 0.07 136.47deg);
	--color-primary-200: oklch(81.81% 0.07 134.52deg);
	--color-primary-300: oklch(80.21% 0.07 133.64deg);
	--color-primary-400: oklch(78.45% 0.07 131.78deg);
	--color-primary-500: oklch(76.83% 0.07 131.05deg);
	--color-primary-600: oklch(67.99% 0.07 131.3deg);
	--color-primary-700: oklch(58.96% 0.05 131.16deg);
	--color-primary-800: oklch(49.46% 0.04 131.62deg);
	--color-primary-900: oklch(39.59% 0.03 131.58deg);
	--color-primary-950: oklch(28.94% 0.02 133.64deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(90.96% 0.02 253.91deg);
	--color-secondary-100: oklch(86.23% 0.02 253.96deg);
	--color-secondary-200: oklch(81.16% 0.03 255.23deg);
	--color-secondary-300: oklch(76.29% 0.04 254.09deg);
	--color-secondary-400: oklch(71.12% 0.05 254.95deg);
	--color-secondary-500: oklch(66.18% 0.06 254.9deg);
	--color-secondary-600: oklch(63.85% 0.06 254.75deg);
	--color-secondary-700: oklch(61.52% 0.07 254.62deg);
	--color-secondary-800: oklch(59.1% 0.07 253.78deg);
	--color-secondary-900: oklch(56.73% 0.07 253.71deg);
	--color-secondary-950: oklch(54.35% 0.08 253.66deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(85.18% 0.05 40.32deg);
	--color-tertiary-100: oklch(82.08% 0.06 39.69deg);
	--color-tertiary-200: oklch(78.78% 0.07 38.88deg);
	--color-tertiary-300: oklch(75.59% 0.07 38.91deg);
	--color-tertiary-400: oklch(72.32% 0.09 38.4deg);
	--color-tertiary-500: oklch(69.29% 0.1 38.25deg);
	--color-tertiary-600: oklch(64.01% 0.09 38.41deg);
	--color-tertiary-700: oklch(58.75% 0.08 38.33deg);
	--color-tertiary-800: oklch(53.44% 0.07 38.86deg);
	--color-tertiary-900: oklch(47.92% 0.07 38.82deg);
	--color-tertiary-950: oklch(42.09% 0.06 39.2deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.47% 0.1 106.43deg);
	--color-success-100: oklch(95.03% 0.1 102.6deg);
	--color-success-200: oklch(92.6% 0.1 98.38deg);
	--color-success-300: oklch(90.37% 0.09 94.42deg);
	--color-success-400: oklch(87.93% 0.09 89.43deg);
	--color-success-500: oklch(85.49% 0.09 84.08deg);
	--color-success-600: oklch(77.16% 0.08 84.46deg);
	--color-success-700: oklch(68.4% 0.07 83.62deg);
	--color-success-800: oklch(59.46% 0.06 85.1deg);
	--color-success-900: oklch(50.05% 0.05 84.03deg);
	--color-success-950: oklch(40.41% 0.04 84.79deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.67% 0.05 84.56deg);
	--color-warning-100: oklch(92.83% 0.06 82.16deg);
	--color-warning-200: oklch(90.12% 0.08 80.33deg);
	--color-warning-300: oklch(87.59% 0.1 80.01deg);
	--color-warning-400: oklch(85.03% 0.12 78.35deg);
	--color-warning-500: oklch(82.46% 0.14 76.71deg);
	--color-warning-600: oklch(76.34% 0.13 72.25deg);
	--color-warning-700: oklch(70.34% 0.13 68.09deg);
	--color-warning-800: oklch(63.99% 0.13 63.18deg);
	--color-warning-900: oklch(57.91% 0.13 57.97deg);
	--color-warning-950: oklch(51.69% 0.13 51.44deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(74.71% 0.08 12.75deg);
	--color-error-100: oklch(71.84% 0.09 12.68deg);
	--color-error-200: oklch(68.95% 0.1 13.53deg);
	--color-error-300: oklch(66.27% 0.11 14.24deg);
	--color-error-400: oklch(63.41% 0.11 15.11deg);
	--color-error-500: oklch(60.61% 0.12 15.35deg);
	--color-error-600: oklch(55.8% 0.11 15.47deg);
	--color-error-700: oklch(50.72% 0.1 14.98deg);
	--color-error-800: oklch(45.83% 0.09 15.24deg);
	--color-error-900: oklch(40.48% 0.09 14.61deg);
	--color-error-950: oklch(35.12% 0.08 14.7deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.18% 0 247.81deg);
	--color-surface-100: oklch(81.32% 0.01 260.76deg);
	--color-surface-200: oklch(71.15% 0.01 264.51deg);
	--color-surface-300: oklch(60.57% 0.02 264.46deg);
	--color-surface-400: oklch(49.56% 0.02 265.83deg);
	--color-surface-500: oklch(37.92% 0.03 266.48deg);
	--color-surface-600: oklch(36.56% 0.02 260.1deg);
	--color-surface-700: oklch(35.03% 0.02 259.39deg);
	--color-surface-800: oklch(33.65% 0.02 248.35deg);
	--color-surface-900: oklch(32.08% 0.01 244.07deg);
	--color-surface-950: oklch(30.68% 0.01 222.39deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light); */
}

:root,
:root[data-theme='classic-mode'] {

	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(85.15% 0.07 137.52deg);
	--color-primary-100: oklch(83.56% 0.07 136.47deg);
	--color-primary-200: oklch(81.81% 0.07 134.52deg);
	--color-primary-300: oklch(80.21% 0.07 133.64deg);
	--color-primary-400: oklch(78.45% 0.07 131.78deg);
	--color-primary-500: oklch(76.83% 0.07 131.05deg);
	--color-primary-600: oklch(67.99% 0.07 131.3deg);
	--color-primary-700: oklch(58.96% 0.05 131.16deg);
	--color-primary-800: oklch(49.46% 0.04 131.62deg);
	--color-primary-900: oklch(39.59% 0.03 131.58deg);
	--color-primary-950: oklch(28.94% 0.02 133.64deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(90.96% 0.02 253.91deg);
	--color-secondary-100: oklch(86.23% 0.02 253.96deg);
	--color-secondary-200: oklch(81.16% 0.03 255.23deg);
	--color-secondary-300: oklch(76.29% 0.04 254.09deg);
	--color-secondary-400: oklch(71.12% 0.05 254.95deg);
	--color-secondary-500: oklch(66.18% 0.06 254.9deg);
	--color-secondary-600: oklch(63.85% 0.06 254.75deg);
	--color-secondary-700: oklch(61.52% 0.07 254.62deg);
	--color-secondary-800: oklch(59.1% 0.07 253.78deg);
	--color-secondary-900: oklch(56.73% 0.07 253.71deg);
	--color-secondary-950: oklch(54.35% 0.08 253.66deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(85.18% 0.05 40.32deg);
	--color-tertiary-100: oklch(82.08% 0.06 39.69deg);
	--color-tertiary-200: oklch(78.78% 0.07 38.88deg);
	--color-tertiary-300: oklch(75.59% 0.07 38.91deg);
	--color-tertiary-400: oklch(72.32% 0.09 38.4deg);
	--color-tertiary-500: oklch(69.29% 0.1 38.25deg);
	--color-tertiary-600: oklch(64.01% 0.09 38.41deg);
	--color-tertiary-700: oklch(58.75% 0.08 38.33deg);
	--color-tertiary-800: oklch(53.44% 0.07 38.86deg);
	--color-tertiary-900: oklch(47.92% 0.07 38.82deg);
	--color-tertiary-950: oklch(42.09% 0.06 39.2deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.47% 0.1 106.43deg);
	--color-success-100: oklch(95.03% 0.1 102.6deg);
	--color-success-200: oklch(92.6% 0.1 98.38deg);
	--color-success-300: oklch(90.37% 0.09 94.42deg);
	--color-success-400: oklch(87.93% 0.09 89.43deg);
	--color-success-500: oklch(85.49% 0.09 84.08deg);
	--color-success-600: oklch(77.16% 0.08 84.46deg);
	--color-success-700: oklch(68.4% 0.07 83.62deg);
	--color-success-800: oklch(59.46% 0.06 85.1deg);
	--color-success-900: oklch(50.05% 0.05 84.03deg);
	--color-success-950: oklch(40.41% 0.04 84.79deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.67% 0.05 84.56deg);
	--color-warning-100: oklch(92.83% 0.06 82.16deg);
	--color-warning-200: oklch(90.12% 0.08 80.33deg);
	--color-warning-300: oklch(87.59% 0.1 80.01deg);
	--color-warning-400: oklch(85.03% 0.12 78.35deg);
	--color-warning-500: oklch(82.46% 0.14 76.71deg);
	--color-warning-600: oklch(76.34% 0.13 72.25deg);
	--color-warning-700: oklch(70.34% 0.13 68.09deg);
	--color-warning-800: oklch(63.99% 0.13 63.18deg);
	--color-warning-900: oklch(57.91% 0.13 57.97deg);
	--color-warning-950: oklch(51.69% 0.13 51.44deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(74.71% 0.08 12.75deg);
	--color-error-100: oklch(71.84% 0.09 12.68deg);
	--color-error-200: oklch(68.95% 0.1 13.53deg);
	--color-error-300: oklch(66.27% 0.11 14.24deg);
	--color-error-400: oklch(63.41% 0.11 15.11deg);
	--color-error-500: oklch(60.61% 0.12 15.35deg);
	--color-error-600: oklch(55.8% 0.11 15.47deg);
	--color-error-700: oklch(50.72% 0.1 14.98deg);
	--color-error-800: oklch(45.83% 0.09 15.24deg);
	--color-error-900: oklch(40.48% 0.09 14.61deg);
	--color-error-950: oklch(35.12% 0.08 14.7deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.18% 0 247.81deg);
	--color-surface-100: oklch(81.32% 0.01 260.76deg);
	--color-surface-200: oklch(71.15% 0.01 264.51deg);
	--color-surface-300: oklch(60.57% 0.02 264.46deg);
	--color-surface-400: oklch(49.56% 0.02 265.83deg);
	--color-surface-500: oklch(37.92% 0.03 266.48deg);
	--color-surface-600: oklch(36.56% 0.02 260.1deg);
	--color-surface-700: oklch(35.03% 0.02 259.39deg);
	--color-surface-800: oklch(33.65% 0.02 248.35deg);
	--color-surface-900: oklch(32.08% 0.01 244.07deg);
	--color-surface-950: oklch(30.68% 0.01 222.39deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);


	// LEGACY, REMOVE WHEN PHP GONE
	--color-scheme: dark;
	--bg-color: #3b4252;
	--fg-color: #e0e2e4;
	--secondary-bg: #252b2d;
	--secondary-fg: #b5b5b5;
	--tertiary-bg: #293134;
	--widget-emph: #fff;
	--logo-bg: #252b2d;
	--button-fg: #ccc;
	--header-bg: #181d1f;
	--box-shadow: #130b00;
	--link-secondary: #f77669;
	--select-color: #5e81ac;
	--tr-even: #ffffff07;
	--border-color: #595959;
	--partition-bar-filled: hsl(0, 0%, 20%);
	--table-color: #fff;
	--modal-color: #424242;
	--meta-h4-color: #ffffff66;

	--green: #a3be8c;
	--yellow: rgb(235, 203, 139);
	--red: rgb(191, 97, 106);
	--amd: rgb(215, 27, 27);
	--intel: rgb(8, 110, 224);
}

:root[data-theme='light-mode'] {
	--color-scheme: only light;
	--bg-color: #ffffff;
	--fg-color: #0d111388;
	--secondary-bg: #f0f0f0;
	--secondary-fg: #444;
	--tertiary-bg: #e0e0e0;
	--widget-emph: black;
	--logo-bg: #252b2d;
	--button-fg: #222222;
	--header-bg: #eeeeee;
	--header-dropdown: #d0d0d0;
	--box-shadow: #d6d6d6;
	--link-secondary: #f77669;
	--select-color: #5e81ac;
	--tr-even: #ffffff07;
	--border-color: #595959;
	--partition-bar-filled: hsl(0, 0%, 20%);
	--table-color: var(--secondary-fg);
	--modal-color: #ffffff;
	--meta-h4-color: #333333;

	--green: green;
	--yellow: goldenrod;
	--red: #ef4444;
	--amd: rgb(215, 27, 27);
	--intel: rgb(8, 110, 224);
}

:root[data-theme='light-mode'] .accordion-button::after {
	filter: invert(1);
}

:root[data-theme='light-mode'] .modal-header {
	color: var(--widget-emph);
}

:root[data-theme='k9-mode'] {
	--color-scheme: dark;
	--bg-color: #181a1b;
	--modal-color: #232527;
	--fg-color: #ddd9d0;
	--secondary-bg: #202325;
	--widget-bg: #181d1e;
	--widget-fg: #ddd9d0;
	--heading-color: #181d1e;
	--meta-h4-color: #ffffff;

	--green: #72ff72;
	--yellow: #e2b23a;
	--red: #f04d4d;
}
