:root {
    --bg-color: white;
    --fg-color: black;
    --line-color: hsl(0, 0%, 50%);
    --link-color: #0969da;

    --progress-bar-filled: hsl(0, 0%, 70%);
    --progress-bar-unfilled: hsl(0, 0%, 90%);
    --progress-bar-color: var(--fg-color);
    --table-alternate-color: hsl(0, 0%, 90%);
    --nav-hover-color: hsl(0, 0%, 95%);


    --green: #22c55e;
    --yellow: #facc15;
    --red: #ef4444;
    --amd: rgb(215,27,27);
    --intel: rgb(8,110,224);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: hsl(0, 0%, 13%);
        --fg-color: #fefefe;
        --line-color: hsl(0, 0%, 50%);
        --link-color: #2f81f7;

        --progress-bar-filled: hsl(0, 0%, 30%);
        --progress-bar-unfilled: hsl(0, 0%, 20%);
        --progress-bar-color: var(--fg-color);
        --table-alternate-color: hsl(0, 0%, 20%);
        --nav-hover-color: hsl(0, 0%, 17%);


        --green: #A3BE8C;
        --yellow: rgb(235, 203, 139);
        --red: rgb(191, 97, 106);
    }
}

:root {
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-family: "JetBrains Mono", monospace;
}

.green { color: var(--green); }
.yellow { color: var(--yellow); }
.red { color: var(--red); }
.amd { color: var(--amd); }
.intel { color: var(--intel); }

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
}

main {
    width: 100%;
    flex: 10 0 auto; /* allow horizontal scroll */
    margin: 1rem;
}

nav {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    border-right: 1px solid var(--line-color);
    padding-right: 1rem;
    flex: 0 0 auto;
}

#nav-expand {
    display: none;
}

nav.nav-collapsed #navlist {
    display: none;
}

nav.nav-collapsed #nav-expand {
    display: block;
    position: relative;
    left: 50%;
    cursor: pointer;
}

#nav-collapse-link {
    margin-bottom: 0.5rem;
}

#navlist {
    margin-top: 0; /* We make it margin instead of padding so that it doesn't slide down when scrolling */
    padding-top: 1rem;
    font-size: 16px;
    list-style: none;
    padding-left: 1rem;
}

#navlist li:hover {
    background-color: var(--nav-hover-color);
}

nav a {
    text-decoration: none;
    color: var(--link-color);
    display: block;
    width: 100%;
}

/* this is just an empty element that ensures when you click on a heading, it scrolls to the left */
.linker {
    position: absolute;
    left: 0;
}

table {
    border: 1px #595959 solid;
    border-radius: 5px;
    border-collapse: collapse;
    table-layout: auto;
}

tr:nth-child(even) {
    background-color: var(--table-alternate-color);
}

td, th {
    font-size: 10pt;
    font-weight: normal;
    padding: 0.125rem 0.25rem;
    border: 1px #595959 solid;
}

th {
    font-weight: bold;
}

.jsondata table {
    background: none;
}

.nic tr > td:nth-child(2) {
    min-width: 17ch; /* just to make it look nice, this is the width of a mac address with colons */
}

.td-center {
    text-align: center;
}


.smart-table-wrapper {
    display: flex;
    gap: 1rem;
}

#notes span {
    font-weight: bold;
}

/*
 * MDB5 (modified)
 * Version: FREE 7.1.0
 *
 *
 * Copyright: Material Design for Bootstrap
 * https://mdbootstrap.com/
 *
 * Read the license: https://mdbootstrap.com/general/license/
 */
.progress,
.progress-stacked {
    --mdb-progress-height: 4px;
    --mdb-progress-font-size: 0.75rem;
    --mdb-progress-bg: hsl(0, 0%, 80%);
    --mdb-progress-border-radius: none;
    --mdb-progress-box-shadow: none;
    --mdb-progress-bar-color: #fff;
    --mdb-progress-bar-bg: #3b71ca;
    --mdb-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--mdb-progress-height);
    overflow: hidden;
    font-size: var(--mdb-progress-font-size);
    background-color: var(--mdb-progress-bg);
    border-radius: var(--mdb-progress-border-radius);
    box-shadow: var(--mdb-progress-box-shadow);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--mdb-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--mdb-progress-bar-bg);
    transition: var(--mdb-progress-bar-transition);
}
@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: var(--mdb-progress-height) var(--mdb-progress-height);
}

.progress-stacked > .progress {
    overflow: visible;
}

.progress-stacked > .progress > .progress-bar {
    width: 100%;
}

.progress-bar-animated {
    animation: 1s linear infinite progress-bar-stripes;
}
@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        animation: none;
    }
}
/* END MDB5 */

.progress {
    border-radius: 0;
    box-shadow: none;
}

.partition-whole-bar {
    height: 64px;
    background-color: inherit;
    border: 2px #595959 solid;
    margin-bottom: 0.5rem;
}

.partition-one-bar {
    background-color: var(--progress-bar-unfilled);
    border-right: 2px #595959 solid;
    position: relative;
    height: 100%;
}

.partition-space-bar {
    height: 100%;
    background-color: var(--progress-bar-filled);
}

.partition-bar-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--progress-bar-color);
}

.smart-table-wrapper {
    column-count: 2;
}

.file {
    border: 1px solid var(--line-color);
    padding: 2px;
}

.file code {
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    counter-reset: line;
}

.file code span {
    display: block;
    counter-increment: line;
}

#debug-log {
    display: none;
}

/**
From PrismJS: https://github.com/PrismJS/prism/blob/master/LICENSE
 */
.file code span:before {
    content: counter(line);
    display: inline-block;
    text-align: right;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 2em;
    letter-spacing: -1px;
    color: var(--line-color);
    border-right: 1px solid var(--line-color);
    padding-right: 0.5em;
    margin-right: 0.5em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
