/* Light Mode */
.LightModeBody{
    background-color:#ffffff!important;
    color:#0d111388!important;
}
.LightModeTextbox{
    background:#0d111388!important;
    color:#ffffff!important;
    filter: drop-shadow(4px 4px 4px #5e81ac);
}
.LightModeTextbox h1{
    color:#ffffff!important;
}
.LightModeTextbox h2{
    background:#0d111388!important;
    color:#ffffff!important;
}

/* K9 Mode */
.K9ModeBody{
    background-color:#0d1113!important;
    color:#ddd9d0!important;
}
.K9ModeTextbox{
    background:#181d1e!important;
    color:#ddd9d0!important;
}
.K9ModeTextbox h1{
    background:#181d1e!important;
    color:#ddd9d0!important;
}
.K9ModeTextbox h2{
    background:#ddd9d0!important;
    color:#181d1e!important;
}